* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: #f1d0f1;
   color: #222;
}

.booklist {
   width: 90vw;
   max-width: 1170px;
   margin: 5rem auto;
   display: grid;
   gap: 2rem;
}

@media screen and (min-width: 768px) {
   .booklist {
      grid-template-columns: repeat(3, 1fr);
   }
}

.book {
   background: #ffffff;
   border-radius: 1rem;
   padding: 2rem;
   text-align: center;
   position: relative;
}

.book img {
   width: 100%;
   object-fit: cover;
   margin-top: 2rem;
}

.book h2 {
   margin-top: 1rem;
}

.book h4 {
   color: #617d98;
   font-size: 0.75rem;
   margin-top: 0.5rem;
   letter-spacing: 2px;
}

.number {
   color: #ffffff;
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.75rem;
   font-size: 1rem;
   background: #617d98;
   border-top-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

.title {
   color: #617d98;
   text-align: center;
   margin-top: 4rem;
   text-transform: capitalize;
}
